/*.pyc

/.idea/.name
/.idea/encodings.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/libraries/sass_stdlib.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/rx-v775.iml
/.idea/scopes/scope_settings.xml
/.idea/testrunner.xml
/.idea/vcs.xml
/.idea/workspace.xml

/.idea/*.iml
